<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CADisableMinimumFrameDuration</key>
	<true/>
	<key>CADisableMinimumFrameDurationOnPhone</key>
	<true/>
	<key>NSHandsTrackingUsageDescription</key>
	<string>Uses your hands to control things.</string>
	<key>NSWorldSensingUsageDescription</key>
	<string>Senses the world around you.</string>
</dict>
</plist>
