BasedOnStyle: WebKit
SortIncludes: false
BreakBeforeBraces: Attach
Standard: Cpp11
IndentCaseLabels: true
DerivePointerAlignment: false
PointerAlignment: Right
AlignAfterOpenBracket: AlwaysBreak
BinPackArguments: false
BinPackParameters: false
AlignOperands: true
AlignTrailingComments: true
AllowShortBlocksOnASingleLine: true
AllowShortCaseLabelsOnASingleLine: true
AllowShortIfStatementsOnASingleLine: true
BreakBeforeBinaryOperators: None
BreakConstructorInitializersBeforeComma: false
NamespaceIndentation: All
IndentWidth: 4
